<div class="card-perma__notch card-perma__notch--bottom flex-column center">
  <div class="pad-inline pad-block-half">
    <strong>This account has used all <%= number_to_human_size(Account::StorageLimited::STORAGE_LIMIT) %> of free storage.</strong>
    <div class="margin-block-start-quarter txt-small">
      <%= link_to "Self-host Fizzy", "https://github.com/basecamp/fizzy", target: "_blank" %> for unlimited storage.
    </div>
  </div>
</div>
